<h1>POST DETAILS</h1>
<div class="post-card">
  <div class="my-post">
    <h2><%= @post.title %></h2>
    <div class="comment">
      <p>Number of comments: <%= @post.comments_counter %></p>
      <p>Number of likes: <%= @post.likes_counter %></p>
      <%= button_to "Like", user_post_likes_path(@user, @post), method: :post %>
    </div>
  </div>
  <div class="post">
    <p><%= @post.text %></p>
    <% if can? :destroy, @post %>
    <%= link_to 'Delete', user_post_path(@users, @post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'btn btn-danger' %>
  <% end %>
  </div>
  <div class="my-comments">
    <% @post.comments.each do |comment| %>
      <div><%= comment.user.name %> <%= comment.text %></div>
    <% end %>
  </div>
</div>
